<mat-toolbar class="appbar">
  <!-- Menu button for small screens -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="appbar-menu-button" aria-label="Open menu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Title block -->
  <div routerLink="" class="appbar-title">
    <mat-icon class="appbar-logo">gavel</mat-icon>
    <h1 class="appbar-name">Smart Contract</h1>
  </div>

  <!-- Navbar default -->
  <nav class="appbar-nav">
    <div *ngFor="let navopt of navMenuOpts()">
      <button mat-flat-button [routerLink]="navopt.url" class="appbar-nav-item">{{ navopt.label }}</button>
    </div>
  </nav>

  <!-- Navbar small -->
  <mat-menu #menu="matMenu">
    <div *ngFor="let navopt of navMenuOpts()">
      <button mat-menu-item [routerLink]="navopt.url">{{ navopt.label }}</button>
    </div>
  </mat-menu>

  <span class="appbar-spacer"></span>

  <!-- Themes / Login -->
  <button class="iconbtn" mat-icon-button routerLink="signup" aria-label="To login">
    <mat-icon>login</mat-icon>
  </button>
  <button class="iconbtn" mat-icon-button (click)="toggleTheme()" aria-label="Toggle theme button">
    <mat-icon>{{ theme() === "light" ? "light_mode" : "dark_mode" }}</mat-icon>
  </button>
</mat-toolbar>
